include ../layouts/_Settings.pug

include ../components/_Blockade.pug
include ../components/_ArtistCard.pug
include ../components/_Card.pug
include ../components/_Btn.pug

include ../data/_artist.pug
include ../data/_news.pug

doctype html
html(lang="en")
  head
    include ../layouts/_Head.pug

  body
    include ../layouts/_Header.pug
    
    main(class="l-main")
      div(class="l-hero" data-aos="fade")
        //- 引入插件基本步驟
        //- 引入 CSS、引入 JS、寫插件要求的 HTML 結構、用 JS 初始化插件
        div(class="swiper l-hero__swiper")
          div(class="swiper-wrapper")
            div(class="swiper-slide l-hero__slide")
              div(class="l-hero__img-mask")
                img(
                  data-src="img/banner/img-01.jpg" alt=siteName
                  class="u-object-fit js-lazy"
                )
            div(class="swiper-slide l-hero__slide")
              div(class="l-hero__img-mask")
                img(
                  data-src="img/banner/img-02.jpg" alt=siteName
                  class="u-object-fit js-lazy"
                )
            div(class="swiper-slide l-hero__slide")
              div(class="l-hero__img-mask")
                img(
                  data-src="img/banner/img-03.jpg" alt=siteName
                  class="u-object-fit js-lazy"
                )


      section(id="lineup" class="-gradient pb-0 l-lineup")
        +Blockade(class="l-lineup__blockade")
        div(class="l-lineup__sticky")
          div(class="container")
            div(class="mb-20" data-aos="fade-up")
              h2(class="o-section-title") LINEUP
                span(class="o-text-lg") MEGAPORT FESTIVAL

            //- input-element 滑鼠進入指定區塊內才生效
            div(
              class="row -gap l-lineup__box js-parallax"
              data-input-element=".l-lineup"
            )
              div(class="col-sm-5 l-lineup__wrap" data-depth="0.1")
                +ArtistCard({
                  data: artistList[0]
                })
              div(class="col-sm-7 l-lineup__wrap" data-depth="-0.1")
                +ArtistCard({
                  data: artistList[1],
                  size: 'lg'
                })
              div(class="col-lg-4 col-sm-7 l-lineup__wrap" data-depth="-0.2")
                +ArtistCard({
                  data: artistList[2],
                  size: 'lg',
                  direction: 'reverse'
                })
              div(class="col-lg-4 col-sm-5 l-lineup__wrap" data-depth="0.2")
                +ArtistCard({
                  data: artistList[3],
                  direction: 'reverse'
                })
              div(
                class="col-lg-4 col-sm-5 offset-lg-0 offset-sm-4 l-lineup__wrap"
                data-depth="-0.2"
              )
                +ArtistCard({
                  data: artistList[4],
                  direction: 'reverse'
                })


      section(id="news" class="l-home-news")
        div(class="l-home-news__swiper-btn -prev")
          iconify-icon(icon="fa-solid:arrow-left" class="u-icon")
        div(class="l-home-news__swiper-btn -next")
          iconify-icon(icon="fa-solid:arrow-right" class="u-icon")

        div(class="container")
          div(class="mb-20 text-center" data-aos="fade-up")
            h2(class="o-section-title") NEWS
              span(class="o-text-lg") MEGAPORT FESTIVAL
              
          div(class="swiper l-home-news__swiper" data-aos="fade-up")
            div(class="swiper-wrapper")
              each item in newsList
                div(class="swiper-slide l-home-news__slide")
                  +Card({ data: item })

          
      section(id="about" class="-gradient l-about")
        div(class="container")
          div(class="mb-20" data-aos="fade-right")
            h2(class="o-section-title") ABOUT
              span(class="o-text-lg") MEGAPORT FESTIVAL

        div(class="container-sm -align-left")
          div(class="row")
            div(class="col-md-8 order-md-0 order-2" data-aos="fade-right")
              div(class="l-about__img-wrap")
                //- data-parallax-offset 自訂義的 gsap 圖片視差，值為位移 px
                div(class="l-about__img-mask" data-parallax-offset="-200")
                  //- abs 是因為父層沒有固定高度，會導致吃原圖高度而跑版
                  //- 要讓圖片跟著父層吃 col 的 stretch 就要加上 abs
                  img(
                    src="img/about/about.jpg", alt="關於大港開唱"
                    class="u-object-fit -abs -parallax"
                  )
            div(class="col-md-4 order-md-0 order-1")
              div(class="l-about__content-wrap")
                div(class="l-about__content mb-16" data-aos="fade-up")
                  h3(class="text-2xl fw-900 mb-4") 2022 年即將邁入第十三屆的《大港開唱》
                  p(class="fw-500 line-clamp-3") 每年三月於高雄舉辦的大型音樂祭典，受到全台灣及日本香港年輕觀眾的喜愛，近年已成為台灣最具指標性的大型戶外音樂祭活動。
                div(class="l-about__content" data-aos="fade-up")
                  h3(class="text-2xl fw-900 mb-4") 「人生」與「音樂」
                  p(class="fw-500 line-clamp-3") 大港舉辦在高雄港邊，獨特的海港地景和人文風情，常勾起人生中各種酸甜苦辣的回憶。也因如此，大港總是邀請有著豐富人生歷程的知名藝人及業界前輩演出，也會與新一代的樂團或藝人一起合作演出，交融出世代之間的化學效應，往往成為當年度為人津津樂道的經典現場

                //- div(class="o-btn -align-right mt-16")
                //-   a(
                //-     href=`${basePath}/about.html` target="_blank"
                //-     class="o-btn__link"
                //-   ) MORE  
                +Btn({
                  href: 'about.html',
                  align: 'right'
                })(class="mt-16" data-aos="fade-up") MORE

    include ../layouts/_Footer.pug

    script(src="js/swiper-bundle.min.js")
    script.
      //-- Swiper
      const headerSwiper = new Swiper('.l-hero__swiper', {
        effect: 'fade',
        // 緩慢施放比例，拖一點點就可以換張
        longSwipesRatio: 0.1,
        loop: true,
        speed: 1200,
        autoplay: {
          delay: 3000,
          // 手動換張時，不停止自動輪播
          disableOnInteraction: false,
        }
      })

      const newsSwiper = new Swiper('.l-home-news__swiper', {
        longSwipesRatio: 0.1,
        loop: true,
        speed: 1200,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 12,
        breakpoints: {
          1400: {
            slidesPerView: 4,
            spaceBetween: 24,
            centeredSlides: false
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 20,
            centeredSlides: false
          },
          576: {
            slidesPerView: 2,
            spaceBetween: 16,
            centeredSlides: false
          },
        },
        on: {
          init: function() {
            lazyLoad.update()
          },
        },
        navigation: {
          prevEl: '.l-home-news__swiper-btn.-prev',
          nextEl: '.l-home-news__swiper-btn.-next',
        },
      })