---
import Layout from '@/layouts/Layout.astro';
import { SITE_NAME } from '@/consts';
import { getCollection, render } from 'astro:content';

// getStaticPaths 用來定義 router
export async function getStaticPaths() {
  const entries = await getCollection('news');

  return entries.map((entry) => ({
    // params 設定路徑，將檔名的 [path].astro 帶入 md 的檔名作為路徑
    params: { path: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const data = entry.data;
const { Content } = await render(entry);

const basePath = import.meta.env.BASE_URL;
// origin 沒有結尾斜線
const siteUrl = Astro.site?.origin;
const pageUrl = Astro.url.href;

const jsonLd = {
  '@context': 'https://schema.org',
  '@type': 'NewsArticle',
  pageUrl,
  publisher: {
    '@type': 'Organization',
    name: SITE_NAME,
    logo: `${siteUrl}${basePath}/img/logo/logo.svg`,
  },
  headline: data.title,
  mainEntityOfPage: pageUrl,
  articleBody: data.description,
  image: `${siteUrl}${basePath}/${data.image}`,
  datePublished: data.publishDate,
};
---

<Layout pageTitle={data.title} infoTitle="" description={data.description}>
  <Fragment slot="head">
    <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  </Fragment>
  <main class="l-main">
    <section class="l-news-detail">
      <div class="container-xs">
        <div
          class="flex justify-between items-end pb-2 border-b-2 border-gray-light"
        >
          <h1 class="text-2xl font-900">{data.title}</h1>
          <span class="text-lg font-900 tracking-tighter">
            {data.publishDate}
          </span>
        </div>
      </div>
      <div class="container-2xs">
        <div class="pt-10">
          <img src={`${basePath}/${data.image}`} alt={data.title} />
          <div class="u-editor">
            <!-- 遇到後台編輯器，還原 reset 設定值 -->
            <Content />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
