---
import ArtistCard from '@/components/ArtistCard.astro';
import Blockade from '@/components/Blockade.astro';
import SectionTitle from '@/components/Home/SectionTitle.astro';
import { getCollection } from 'astro:content';

const artistList = (await getCollection('artists')).sort((a, b) =>
  a.id.localeCompare(b.id),
);
---

<section id="lineup" class="--gradient pb-0 l-lineup">
  <Blockade class="l-lineup__blockade" />
  <div class="l-lineup__sticky">
    <div class="container">
      <div class="mb-20" data-aos="fade-up">
        <SectionTitle title="LINEUP" />
      </div>
      <div
        class="row --gap l-lineup__box js-parallax"
        data-input-element=".l-lineup"
      >
        <!-- input-element 滑鼠進入指定區塊內才生效 -->
        <div class="col-sm-5 l-lineup__wrap" data-depth="0.1">
          <ArtistCard data={artistList[0].data} />
        </div>
        <div class="col-sm-7 l-lineup__wrap" data-depth="-0.1">
          <ArtistCard data={artistList[1].data} size="lg" />
        </div>
        <div class="col-lg-4 col-sm-7 l-lineup__wrap" data-depth="-0.2">
          <ArtistCard data={artistList[2].data} size="lg" direction="reverse" />
        </div>
        <div class="col-lg-4 col-sm-5 l-lineup__wrap" data-depth="0.2">
          <ArtistCard data={artistList[3].data} direction="reverse" />
        </div>
        <div
          class="col-lg-4 col-sm-5 offset-lg-0 offset-sm-4 l-lineup__wrap"
          data-depth="-0.2"
        >
          <ArtistCard data={artistList[4].data} direction="reverse" />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .l-lineup {
    &::after {
      content: '';
      display: block;
      height: rem(200);
      pointer-events: none;
    }

    :global(.c-blockade.l-lineup__blockade) {
      top: -10%;

      @include media(max-xl) {
        top: -20%;
      }
    }

    &__sticky {
      position: sticky;
      top: var(--spacing-30);
    }

    &__box {
      pointer-events: auto;
    }

    &__wrap {
      display: flex !important;
      position: relative !important;

      &:first-child {
        justify-content: flex-end;
        align-items: flex-end;
        z-index: 1;
      }

      &:nth-child(4) {
        justify-content: center;
      }
    }
  }
</style>
