mixin Btn(options)
  -
    // Object.assign 用來合併預設值及傳進來的 options 值
    const props = Object.assign({
      // 預設值
      href: '##',
      target: undefined,
      align: ''
    }, options);

    const classes = [
      props.size ? `--size-${props.size}` : '',
      props.align ? `--align-${props.align}` : ''
    ];
  //- &attributes(attributes) 傳入 html 屬性
  div&attributes(attributes)(
    class="o-btn"
    class=classes.join(' ')
  )
    a(href=props.href target=props.target class="o-btn__link")
      block
      