include ../layouts/_Settings.pug
include ../data/_news.pug

mixin NewsDetail(path_id)
  -
    //- const data = newsList[index];
    const data = newsList.find(function(item) {
      return (item.path || item.id) === path_id;
    }) || {};

    const url = `${baseUrl}${basePath}/news/${(data.path || data.id)}.html`;
    
    const jsonLd = `
      {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "url": "${url}",
        "publisher":{
            "@type":"Organization",
            "name":"${siteName}",
            "logo":"${baseUrl}${basePath}/img/logo/logo.svg"
        },
        "headline": "${data.title}",
        "mainEntityOfPage": "${url}",
        "articleBody": "${data.content}",
        "image": "${baseUrl}${basePath}/${data.image}",
        "datePublished":"${data.publish_date}"
      }
    `

  doctype html
  html(lang="en")
    head
      - 
        path = `/news/${(data.path || data.id)}.html`
        pageTitle = data.title;
        infoTitle = '';
        description = data.description;

      include ../layouts/_Head.pug

      script(type="application/ld+json")
        !=jsonLd

    body
      include ../layouts/_Header.pug

      main(class="l-main")
        section(class="l-news-detail")
          div(class="container-xs")
            div(class="l-news-detail__title-wrap")
              h1(class="text-2xl fw-900") #{data.title}
              span(class="o-text-lg") #{data.publish_date}

          div(class="container-2xs")
            div(class="l-news-detail__content")
              img(src=`${basePath}/${data.image}` alt=data.title)
              //- 遇到後台編輯器，還原 reset 設定值
              //- !=data.content 這樣寫才能生成 html 結構
              div(class="u-editor")
                !=data.content

      include ../layouts/_Footer.pug
