---
const basePath = import.meta.env.BASE_URL;
---

<script>
  import facebookIcon from '@iconify-icons/mingcute/facebook-fill';
  import instagramIcon from '@iconify-icons/mingcute/ins-fill';
  import youtubeIcon from '@iconify-icons/mingcute/youtube-fill';
  import { addIcon } from 'iconify-icon';

  addIcon('mingcute:facebook-fill', facebookIcon);
  addIcon('mingcute:ins-fill', instagramIcon);
  addIcon('mingcute:youtube-fill', youtubeIcon);

  type LenisControl = {
    stop: () => void;
    start: () => void;
  };

  const getLenis = () => (window as unknown as { lenis?: LenisControl }).lenis;

  // Navbar
  const burgerEl = document.querySelector<HTMLElement>('.o-burger');
  const navEl = document.querySelector<HTMLElement>('.c-nav');

  let isMenuOpened = false;
  burgerEl?.addEventListener('click', function () {
    // if (isMenuOpened) isMenuOpened = false;
    // else isMenuOpened = true;

    // toggle 開關
    isMenuOpened = !isMenuOpened;

    if (isMenuOpened) {
      // this 會指向 burgerEl
      getLenis()?.stop();
      this.classList.add('is-opened');
      navEl?.classList.add('is-opened');
    } else {
      getLenis()?.start();
      this.classList.remove('is-opened');
      navEl?.classList.remove('is-opened');
    }
  });

  window
    .matchMedia('(min-width: 1400px)')
    .addEventListener('change', function (e) {
      if (isMenuOpened) {
        if (e.matches) {
          getLenis()?.start();
        } else {
          getLenis()?.stop();
        }
      }
    });
</script>

<header class="l-header">
  <a href={basePath} class="l-header__logo-mask">
    <img src={`${basePath}/img/logo/logo.svg`} alt="大港開唱 Logo" />
  </a>
  <!-- input(type="checkbox" id="burger-switcher" hidden) -->
  <!-- label(for="burger-switcher" class="o-burger") -->
  <button class="o-burger">
    <div class="o-burger__line"></div>
    <div class="o-burger__line"></div>
    <div class="o-burger__line"></div>
  </button>
  <nav class="c-nav l-header__nav">
    <div class="c-nav__menu">
      <ul class="c-nav__btn-box">
        <li class="c-nav__btn-wrap">
          <a href={`${basePath}/#lineup`} class="c-nav__btn">
            <span class="font-en text-lg font-900">LINEUP</span>
            <span>演出陣容</span>
          </a>
        </li>
        <li class="c-nav__btn-wrap">
          <a href={`${basePath}/news`} class="c-nav__btn">
            <span class="font-en text-lg font-900">NEWS</span>
            <span>最新消息</span>
          </a>
        </li>
        <li class="c-nav__btn-wrap">
          <a href={`${basePath}/#about`} class="c-nav__btn">
            <span class="font-en text-lg font-900">ABOUT</span>
            <span>關於大港</span>
          </a>
        </li>
        <li class="c-nav__btn-wrap">
          <a href="##" class="c-nav__btn">
            <span class="font-en text-lg font-900">TIMETABLE</span>
            <span>節目表</span>
          </a>
        </li>
        <li class="c-nav__btn-wrap">
          <a href="##" class="c-nav__btn">
            <span class="font-en text-lg font-900">TICKET</span>
            <span>購票資訊</span>
          </a>
        </li>
        <li class="c-nav__btn-wrap">
          <a href={`${basePath}/contact`} class="c-nav__btn">
            <span class="font-en text-lg font-900">MAP</span>
            <span>地圖導覽</span>
          </a>
        </li>
      </ul>
      <!-- ul(class="c-nav__btn-box c-nav__btn-box--links") -->
      <ul class="c-nav__btn-box --links">
        <li class="c-nav__btn-wrap">
          <a
            href="https://www.facebook.com/megaportfest/"
            target="_blank"
            class="c-nav__btn"
          >
            <iconify-icon icon="mingcute:facebook-fill" class="u-icon-md"
            ></iconify-icon>
          </a>
        </li>
        <li class="c-nav__btn-wrap">
          <a
            href="https://www.instagram.com/megaportfest/"
            target="_blank"
            class="c-nav__btn"
          >
            <iconify-icon icon="mingcute:ins-fill" class="u-icon-md"
            ></iconify-icon>
          </a>
        </li>
        <li class="c-nav__btn-wrap">
          <a
            href="https://www.youtube.com/channel/UC7xWU14_GGYKVqoSLg1M8EQ/feed"
            target="_blank"
            class="c-nav__btn"
          >
            <iconify-icon icon="mingcute:youtube-fill" class="u-icon-md"
            ></iconify-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style lang="scss">
  .l-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 4vw;
    background-color: var(--color-black);
    border-bottom: 1px solid var(--color-primary);
    box-shadow: 0 var(--spacing-1) var(--spacing-14) var(--color-primary);
    z-index: 9999;

    @include media(max-2xl) {
      padding: var(--spacing-4) 4vw;
    }

    &__logo-mask {
      max-width: rem(200);
    }
  }

  .c-nav {
    z-index: 99;

    @include media(max-2xl) {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-black-80);
      opacity: 0;
      pointer-events: none;
      overflow: auto;
      transition: opacity 0.3s;

      &.is-opened {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__menu {
      display: flex;
      color: var(--color-gray-mid);
      letter-spacing: var(--tracking-tight);

      @include media(max-2xl) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding: var(--spacing-16) 0;
      }
    }

    &__btn-box {
      display: flex;

      @include media(max-md) {
        &:not(.--links) {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }

    &__btn-box.--links {
      @include media(max-2xl) {
        margin-top: var(--spacing-4);
      }
    }

    &__btn-wrap {
      height: 100%;
      color: var(--color-gradient);
    }

    @include media(max-2xl) {
      &__btn-wrap:first-child &__btn::after {
        display: none;
      }
    }

    &__btn {
      --color-gradient: var(--color-primary);
      height: 100%;
      padding: var(--spacing-6) 2.8vw;
      transition: color 0.3s;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          var(--color-gradient),
          transparent
        );
      }

      &::before {
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &::after {
        --color-gradient: var(--color-gray-light);
        width: 1px;

        @include media(max-md) {
          display: none;
        }
      }

      &:hover,
      &.is-active {
        color: var(--color-gray-light);

        &::before {
          opacity: 1;
        }
      }
    }

    &__btn-box.--links &__btn {
      --color-gradient: var(--color-secondary);
      display: flex;
      align-items: center;
      padding-left: 1.2vw;
      padding-right: 1.2vw;
      background-color: var(--color-gray-mid-40);

      &::after {
        --color-gradient: var(--color-secondary);
      }

      @include media(max-2xl) {
        background-color: transparent;

        &::after {
          display: none;
        }
      }
    }
  }

  .o-burger {
    --size: #{rem(42)};
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    z-index: 999;

    @include media(max-2xl) {
      display: flex;
    }

    @include media(max-sm) {
      --size: #{rem(38)};
    }

    &.is-opened &__line {
      --line-offset: calc(var(--gap) + var(--height));

      &:nth-child(1) {
        // 不能先旋轉在位移，因為會先改變軸心才位移，位置會不對
        // transform: rotate(45deg) translateY(var(--gap));
        // 先放到我要的位置，再旋轉
        // transform: translateY(calc(var(--gap) + var(--height))) rotate(45deg);
        transform: translateY(var(--line-offset)) rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        // transform: rotate(-45deg) translateY(calc(-1 * var(--gap)));
        transform: translateY(calc(-1 * var(--line-offset))) rotate(-45deg);
      }
    }

    &__line {
      --gap: #{rem(8)};
      --height: 2px;
      width: 80%;
      height: var(--height);
      background-color: var(--color-gray-light);
      transition:
        width 0.5s,
        transform 0.5s;

      &:not(:first-child) {
        margin-top: var(--gap);
      }
    }

    &:hover:not(.is-opened) &__line {
      &:first-child {
        width: 90%;
      }

      &:nth-child(2) {
        width: 70%;
      }

      &:last-child {
        width: 90%;
      }
    }
  }
</style>
