---
import { getCollection } from 'astro:content';

const basePath = import.meta.env.BASE_URL;
const newsCategories = (await getCollection('newsCategories')).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<ul class="flex flex-wrap mb-20" style="gap: 0 var(--spacing-6)">
  <!-- li -->
  <!--   a(href=`${basePath}/news/`) е…ЁйғЁ -->
  <!-- li -->
  <!--   a(href=`${basePath}/news/category/latest.html`) зҶұй–Җж¶ҲжҒҜ -->
  <!-- li -->
  <!--   a(href=`${basePath}/news/category/design.html`) иЁӯиЁҲеҝ«иЁҠ -->
  {
    newsCategories.map(({ id, data }) => {
      const path = id === 'all' ? '' : `/category/${id}`;

      return (
        <li>
          <a href={`${basePath}/news${path}`} class="l-news-list__btn">
            {data.title}
          </a>
        </li>
      );
    })
  }
</ul>

<style lang="scss">
  .l-news-list__btn {
    font-size: var(--text-xl);
    font-weight: 900;
    color: var(--color-gray);
    transition: color 0.3s;
    &:hover,
    &.is-active {
      color: var(--color-gray-light);
    }
  }
</style>
