---
import Footer from './components/Footer.astro';
import Header from './components/Header.astro';
import {
  SITE_DESCRIPTION,
  SITE_IMAGE,
  SITE_INFO_TITLE,
  SITE_NAME,
} from '@/consts';
import '@fontsource/noto-sans-tc/400.css';
import '@fontsource/noto-sans-tc/500.css';
import '@fontsource/noto-sans-tc/900.css';
import '@fontsource/roboto/700.css';
import '@fontsource/roboto/900.css';
import 'lenis/dist/lenis.css';

// 引入連結
// css 引入也有順序，通常插件在自定義的 style 上面
// 這裡順序的原因是：
// 1. SCSS 裡會用到 Tailwind theme 產生的 CSS variables
// 2. global.css 有 @layer theme, bootstrap, base, utilities;
//    這代表 layer 順序在 global.css 先宣告好，
//    後面 style.scss 裡的 base layer 才會被放進正確的位置
import '@/styles/global.css';
import '@/assets/scss/style.scss';

interface Props {
  pageTitle?: string;
  infoTitle?: string;
  description?: string;
  image?: string;
}

const {
  pageTitle = '',
  infoTitle = SITE_INFO_TITLE,
  description = SITE_DESCRIPTION,
  image = SITE_IMAGE,
} = Astro.props;

// 設定標題格式
// <Page Title> - <Site Name>｜<Info Title>
let title = SITE_NAME;
if (pageTitle) {
  title = `${pageTitle} - ${SITE_NAME}`;
}
if (infoTitle) {
  title = `${title}｜${infoTitle}`;
}

const basePath = import.meta.env.BASE_URL;
// origin 沒有結尾斜線
const siteUrl = Astro.site?.origin;
const pageUrl = Astro.url.href;

const normalizedImage = image.replace(/^\//, '');
const imageUrl = `${siteUrl}${basePath}/${normalizedImage}`;
const bodyBgImage = `url('${basePath}/img/bg-dots.png')`;
---

<script>
  import '@/assets/js/main.ts';
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- 新增 maximum-scale=1.0 防止手機點擊表單畫面放大 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- 教學用網站，因此設置此 meta 防止瀏覽器索引 -->
    <meta name="robots" content="noindex, nofollow" />

    <!-- 防止 Iphone 自訂偵測電話，影響樣式 -->
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-rim-auto-match" content="none" />

    <!-- FB 縮圖資訊，偵錯及預覽工具 https://developers.facebook.com/tools/debug/ -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:description" content={description} />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <title>{title}</title>

    <!-- 網頁 icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`${basePath}/apple-touch-icon.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`${basePath}/favicon-32x32.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`${basePath}/favicon-16x16.png`}
    />
    <link rel="shortcut icon" href={`${basePath}/favicon.ico`} />
    <link rel="manifest" href={`${basePath}/site.webmanifest`} />
    <link
      rel="mask-icon"
      href={`${basePath}/safari-pinned-tab.svg`}
      color="#ef8322"
    />
    <meta name="msapplication-TileColor" content="#ef8322" />
    <meta name="theme-color" content="#ffffff" />

    <slot name="head" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <slot name="footer" />
  </body>
</html>

<style is:global define:vars={{ bodyBgImage }}>
  body {
    background-image: var(--bodyBgImage);
  }
</style>
